/* Navbar */


/* Card About Me  */
.card {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
};

.contact {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}