body {
    background-color: blanchedalmond;
}

footer {
    background-color: black;
    height: 80px;
    color: white;
    text-align: center;
    width: 100%;
    bottom: 0%;
}

/* Card About Me  */
.card {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
};

.contact {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
};

.contain-page {
    position: relative;
}

